<div class="row">
    <div class="col-md-6 profile-pic">
        <img class ="pics" src="./images/goth-profile.jpg" alt="goth proflie pic">
    </div>
    <div class="col-md-6 profile-info">
        <h2>{{user.username}}</h2>
        <ul>
            <li>Age: {{profile.age}}</li>
            <li>Gender: {{profile.gender}}</li>
            <li>Sexuality: {{profle.sexuality}}</li>
            <li>Likes: {{profile.likes}}</li>
        </ul>
        <p>Bio: {{profile.bio}}</p>
        
    </div>
    <div id="abc"></div>
</div>
